MTR-MG - 3. Consultar Pendentes.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7e4a2f1-3b8d-4c9e-a5f2-d1b6c8e3f7a4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Consultar MTRs Webhook",
      "webhookId": "c7e4a2f1-3b8d-4c9e-a5f2-d1b6c8e3f7a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mtr.meioambiente.mg.gov.br/api/gettoken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"pessoaCodigo\": 255271,\n  \"pessoaCnpj\": \"07711109000186\",\n  \"usuarioCpf\": \"09088847614\",\n  \"senha\": \"090888\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (auth.retornoCodigo !== 0) throw new Error('Falha autenticação: ' + auth.retorno);\nreturn [{ json: { token: auth.token, chave: auth.chave } }];"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Extrai Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://mtr.meioambiente.mg.gov.br/api/retornaListaCodigoBarasManifesto/' + $('Consultar MTRs Webhook').first().json.body.dataInicio + '/' + $('Consultar MTRs Webhook').first().json.body.dataFim }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"{{ 'Bearer ' + $json.token }}\",\n  \"chave_feam\": \"{{ $json.chave }}\"\n}",
        "sendBody": false,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Busca Barcodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\n\nif (resp.retornoCodigo !== undefined && resp.retornoCodigo !== 0) {\n  return [{ json: {\n    _done: true, sucesso: false, total: 0, totalPendentes: 0, manifests: [],\n    mensagem: `❌ Erro ${resp.retornoCodigo}: ${resp.retorno}`\n  } }];\n}\n\n// Barcode: [10 nº manifesto][8 cód gerador][8 cód transportador][8 cód destinador]\n// Nosso codUnidadeDestinador = 255271 → padded 8 dígitos = '00255271'\nconst MEU_COD = '00255271';\nconst codigos = resp.codigos || [];\nconst auth = $('Extrai Token').first().json;\n\nconst filtrados = codigos.filter(b => b.length >= 34 && b.substring(26, 34) === MEU_COD);\n\nif (filtrados.length === 0) {\n  return [{ json: {\n    _done: true, sucesso: true, total: 0, totalPendentes: 0, manifests: [],\n    mensagem: `✅ 0 MTR(s) pendente(s) como destinador no período (${codigos.length} manifesto(s) no total)`\n  } }];\n}\n\nreturn filtrados.map(barcode => ({ json: { barcode, token: auth.token, chave: auth.chave } }));"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Filtra Destinador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-done",
              "leftValue": "={{ $json._done }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Tem Barcodes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Retorna Vazio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://mtr.meioambiente.mg.gov.br/api/retornaManifesto/' + $json.barcode }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"{{ 'Bearer ' + $json.token }}\",\n  \"chave_feam\": \"{{ $json.chave }}\"\n}",
        "sendBody": false,
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Busca Manifesto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 120]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst todos = items.map(i => i.json).filter(m => m.manifestoCodigo !== undefined);\n\nconst SITUACOES = {\n  1: 'Emitido (aguarda baixa)',\n  3: 'Recebido',\n  4: 'Cancelado',\n  9: 'Armazenamento Temp.'\n};\n\n// Filtra apenas os pendentes de baixa (situação 1 = Salvo/Emitido)\nconst pendentes = todos.filter(m => m.situacaoManifestoCodigo === 1);\n\nconst result = pendentes.map(m => ({\n  manifestoCodigo: m.manifestoCodigo,\n  manifDataExpedicao: m.manifDataExpedicao || m.manifData,\n  cnpGerador: m.cnpGerador,\n  cnpTransportador: m.cnpTransportador,\n  situacaoManifestoCodigo: m.situacaoManifestoCodigo,\n  situacao: SITUACOES[m.situacaoManifestoCodigo] || `Situação ${m.situacaoManifestoCodigo}`\n}));\n\nreturn [{ json: {\n  sucesso: true,\n  total: todos.length,\n  totalPendentes: result.length,\n  manifests: result,\n  mensagem: `✅ ${result.length} MTR(s) pendente(s) de baixa (de ${todos.length} como destinador no período)`\n} }];"
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Agrega Pendentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Retorna Resultado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 120]
    }
  ],
  "connections": {
    "Consultar MTRs Webhook": {
      "main": [[{ "node": "Get Token", "type": "main", "index": 0 }]]
    },
    "Get Token": {
      "main": [[{ "node": "Extrai Token", "type": "main", "index": 0 }]]
    },
    "Extrai Token": {
      "main": [[{ "node": "Busca Barcodes", "type": "main", "index": 0 }]]
    },
    "Busca Barcodes": {
      "main": [[{ "node": "Filtra Destinador", "type": "main", "index": 0 }]]
    },
    "Filtra Destinador": {
      "main": [[{ "node": "Tem Barcodes", "type": "main", "index": 0 }]]
    },
    "Tem Barcodes": {
      "main": [
        [{ "node": "Retorna Vazio",    "type": "main", "index": 0 }],
        [{ "node": "Busca Manifesto",  "type": "main", "index": 0 }]
      ]
    },
    "Busca Manifesto": {
      "main": [[{ "node": "Agrega Pendentes", "type": "main", "index": 0 }]]
    },
    "Agrega Pendentes": {
      "main": [[{ "node": "Retorna Resultado", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "146a52c9d0212188bab590252ea55e12202688754d829cc9ac77eb5e097e324c"
  }
}
